<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    
    <link rel="stylesheet" th:href="@{/css/styleCadastroUsers.css}">
</head>
<body>
    <!-- <div th:if="${successMessage}" class="alert alert-success" role="alert">
      <span th:text="${successMessage}"></span>
    </div> -->

    <div th:if="${errorMessage}" class="alert alert-danger" role="alert">
      <span th:text="${errorMessage}" style="color: red;"></span>
    </div>

    <h1>Cadastro de Voluntário</h1>
        <form th:action="@{/voluntarios}" th:object="${voluntario}" method="post">
            <fieldset>
                <legend>Ficha Cadastral</legend>
                <p>
                    <label>Nome: </label>
                    <input type="text" placeholder="Nome Completo" th:field="*{nome}" required>
                    <p class="error" th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
                </p>
                <p>
                    <label for="dataNasc">Data de Nascimento: </label>
                    <input type="date" name="dataNasc" id="dataNasc" th:field="*{dataNasc}" required oninput="calcIdade()">
                </p>
                <p>
                    <label for="idade">Idade: </label>
                    <output id="idade">0</output>
                </p>
                <p>
                    <label>Telefone: </label>
                    <input type="text" placeholder="(22)99999-9999" th:field="*{telefone}">
                    <p class="error" th:if="${#fields.hasErrors('telefone')}" th:errors="*{telefone}"></p>
                </p>
            </fieldset>

            <br>
            <fieldset>
                <legend>Credenciais</legend>
                <p>
                    <label>Email: </label>
                    <input type="email" th:field="*{email}" required>
                    <p class="error" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
                </p>
                <p>
                    <label>Senha: </label>
                    <input type="password" th:field="*{senha}" required>
                    <p class="error" th:if="${#fields.hasErrors('senha')}" th:errors="*{senha}"></p>
                </p>
            </fieldset>

            <br> 
            <fieldset>
                <legend>Função</legend>
                <p>
                    <input type="radio" name="funcao" id="funcao" value="voluntario" th:field="*{funcao}" checked required>
                    <label for="funcao">Voluntário</label>
                    <p class="error" th:if="${#fields.hasErrors('funcao')}" th:errors="*{funcao}"></p>
                </p>
            </fieldset>

            <p>
                <button type="submit">Salvar</button>
                <button type="reset">Limpar</button>
            </p>
        </form>

    <script>
        function calcIdade() {
            let dataNasc = document.getElementById("dataNasc").value;
            if (!dataNasc) {
                document.getElementById("idade").innerHTML = "0";
                return;
            }

            let nasc = new Date(dataNasc);
            let hoje = new Date();

            let idade = hoje.getFullYear() - nasc.getFullYear();
            let mes = hoje.getMonth() - nasc.getMonth();

            if (mes < 0 || (mes === 0 && hoje.getDate() < nasc.getDate())) {
                idade--; // ainda não fez aniversário esse ano
            }

            document.getElementById("idade").innerHTML = idade;
        }
    </script>
</body>
</html>