<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Voluntário</title>

    <link rel="stylesheet" th:href="@{/css/styleUser.css}">
</head>
<body>
    <h1>Ficha do Voluntário</h1>

    <!-- <div th:if="${errorMessage}">
        <p th:text="${errorMessage}" style="color:red;"></p>
    </div> -->

    <div th:unless="${errorMessage}">
        <p><strong>ID User:</strong> <span th:text="${voluntário.idUser}"></span></p>
        <p><strong>Nome:</strong> <span th:text="${voluntário.nome}"></span></p>
        <p><strong>Data de Nascimento:</strong> <span th:text="${voluntário.dataNasc}"></span></p>
        <p><strong>Idade:</strong> <span th:text="${voluntário.idade}"></span></p>
        <p><strong>Email:</strong> <span th:text="${voluntário.email}"></span></p>
        <p><strong>Telefone:</strong> <span th:text="${voluntário.telefone}"></span></p>
        <p><strong>Função:</strong> <span th:text="${voluntário.funcao}"></span></p>
    </div>

    <a th:href="@{/voluntarios}">Voltar para lista de voluntários</a>
</body>
</html>
