<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Administrador</title>
    <link rel="stylesheet" th:href="@{/css/styleUser.css}">
</head>
<body>
    <h1>Ficha do Administrador</h1>
    <div class="profile-container" th:object="${administrador}">
        <p><strong>ID User:</strong> <span th:text="*{idUser}"></span></p>
        <p><strong>Nome:</strong> <span th:text="*{nome}"></span></p>
        <p><strong>Email:</strong> <span th:text="*{email}"></span></p>
        <p><strong>Telefone:</strong> <span th:text="*{telefone}"></span></p>
        <p><strong>Função:</strong> <span th:text="*{funcao}"></span></p>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a th:href="@{/administradores/edit/{id}(id=${administrador.idUser})}">Editar Perfil</a>
    </div>
    <div style="text-align: center; margin-top: 20px;">
        <a th:href="@{/administradores}">Voltar para lista de administradores</a>
    </div>
</body>
</html>