<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="#{plataform.name}">Plataform Name</title>
</head>
<body>
    <!--logout bem sucedido-->
    <div th:if="${successMessage}">
        <p style="color: green;" th:text="${successMessage}"></p>
    </div>

    <h1>Bem-vindo, Representante!</h1>
    <p>Aqui você poderá cadastrar vagas</p>

    <a th:href="@{/logout}">Sair</a>
</body>
</html>