<!DOCTYPE html>
<html lang="pt-BR">
<head th:fragment="${base_layout :: head}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styleBase.css">
    <title>Document</title>
    <style>
        /*só um teste para ver se esta funcionando*/
        body {
            background-color: blue;
        }
    </style>
</head>
<body>
    <div th:fragment="${base_layout :: body}">
        <h1>Conteúdo Principal</h1>
        <p>Este é o conteúdo principal da página.</p>
    </div>
</body>
</html>