<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:insert="~{baseLayout :: baseHead}"></th:block>
    <link rel="stylesheet" th:href="@{/css/styleHome.css}">
</head>
<body>
    <header th:replace="~{baseLayout :: baseHeaderPage}"></header>

    <main>
        <section>
            <img src="#" alt="Imagem (alguma relacionada a voluntariado)">
        </section>

        <section id="box-cadastro">
            <p>Colocar alguma frase de efeito relacionada ao ato voluntário</p>
            <div id="button-cadastro-voluntario">
                <p><a href="/cadastro">Seja Voluntário (a)</a></p>
            </div>
            <div id="button-cadastro-representante">
                <p><a href="/cadastro">Cadastre o orgão/entidade</a></p>
            </div>
        </section>
    </main>

    <footer th:replace="~{baseLayout :: baseFooterPage}"></footer>
</body>
</html>