<!DOCTYPE html>
<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhes do Representante</title>

    <link rel="stylesheet" th:href="@{/css/styleUser.css}">
</head>
<body>
    <h1>Ficha do Representante</h1>

    <!-- <div th:if="${errorMessage}">
        <p th:text="${errorMessage}" style="color:red;"></p>
    </div> -->

    <div th:unless="${errorMessage}" class="profile-container" th:object="${representante}">
        <p><strong>ID User:</strong> <span th:text="*{idUser}"></span></p>
        <p><strong>Nome:</strong> <span th:text="*{nome}"></span></p>
        <p><strong>Email:</strong> <span th:text="*{email}"></span></p>
        <p><strong>Telefone:</strong> <span th:text="*{telefone}"></span></p>
        <p><strong>Função:</strong> <span th:text="*{funcao}"></span></p>
        <p><strong>ONG:</strong> <span th:text="*{ong.nome}"></span></p>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <a th:href="@{/representantes/edit/{id}(id=${representante.idUser}) class="btn-link"}">Editar Perfil</a>
        
        <form th:action="@{/representantes/delete/{id}(id=${representante.idUser})}" method="post" style="display:inline; margin-left: 10px;">
            <button type="submit" onclick="return confirm('Tem certeza que deseja excluir?')" style="background-color: #c62828; color: white; border: none; padding: 10px 15px; cursor: pointer; border-radius: 5px; font-weight: bold;">
                Excluir Perfil
            </button>
        </form>
    </div>

    <div style="text-align: center; margin-top: 20px;">
        <a th:href="@{/representantes}">Voltar para lista de Representantes</a>
    </div>
</body>
</html>
